In [8]:
import pandas as pd

a, b = input().split()
print(a)
print(b)

a b
a
b

In [ ]:
# 6016
[기초-입출력] 문자 2개 입력받아 순서 바꿔 출력하기2(설명)(py)

In [9]:
c1 = input()
c2 = input()
print(c2,c1)

a,b
ba
ba a,b

In [13]:
c1, c2 = input().split()

print(c2,'',c1)

a b
b  a

In [ ]:
c1, c2 = input().split()

print(c2+' '+c1)

In [14]:
# 6017 [기초-입출력] 문장 1개 입력받아 3번 출력하기(설명)(py)
# 예시
# s = input()
# print(s, s, s)  #공백으로 구분해 한 줄로 출력한다.

In [37]:
s = input()

print(s,s,s)

a
a a a

In [38]:
# [기초-입출력] 주민번호 입력받아 형태 바꿔 출력하기(py)

# 주민번호는 다음과 같이 구성된다.
# XXXXXX-XXXXXXX

# 왼쪽 6자리는 생년월일(YYMMDD)이고, 오른쪽 7자리는 성별,출생지역,확인코드로 구성되어있다.
# 주민번호를 입력받아 형태를 바꿔 출력해보자.

# 출력
# '-'를 제외한 주민번호 13자리를 모두 붙여 출력한다.

# 참고
# 아무것도 없는 공(empty) 문자는 작은 따옴표(') 2개를 붙여서 '' 로 표현한다.

# 입력 예시   
# 000907-1121112

# 출력 예시
# 0009071121112

In [61]:
a,b = input().split('-')
print(a,b,sep='')

11-11
1111

In [65]:
#6021 [기초-입출력] 단어 1개 입력받아 나누어 출력하기(설명)(py)

# 알파벳과 숫자로 이루어진 단어 1개가 입력된다.
# 입력받은 단어의 각 문자를 한 줄에 한 문자씩 분리해 출력한다.

# 예시
# s = input()
# print(s[0])
# print(s[1])
# ...

# 참고
# s[0] 은 첫 번째 문자를 의미한다.

# 출력
# 각 문자를 한 줄에 한 문자씩 줄을 바꿔 출력한다.

# 입력 예시   
# Hello

# 출력 예시
# H
# e
# l
# l
# o

In [66]:
s = input()

print(s[0])
print(s[1])
print(s[2])
print(s[3])
print(s[4])

Hello
H
e
l
l
o

In [67]:
#6022 [기초-입출력] 연월일 입력받아 나누어 출력하기(설명)(py)

# 6자리의 연월일(YYMMDD)을 입력받아 나누어 출력해보자.

# 참고
# s = input()
# print(s[0:2])

# 를 실행하면 0번째 문자부터 1번째 문자까지 잘라 출력한다.
# s[a:b] 라고 하면, s라는 단어에서 a번째 문자부터 b-1번째 문자까지 잘라낸 부분을 의미한다.
# 다른 자르기 방법도 있다.

# 입력 예시   
# 200304

# 출력 예시
# 20 03 04

In [68]:
s = input()
print(s[0:2], s[2:4], s[4:6])

200304
20 03 04

In [69]:
# 6023 [기초-입출력] 시분초 입력받아 분만 출력하기(py)

# 시 분 초가
# 시:분:초 형식으로 입력된다.

# 출력
# 분만 출력한다.

# 입력 예시   
# 17:23:57

# 출력 예시
# 23

In [72]:
h,m,s = input().split(':')
print(m)

17:23:57
23

In [73]:
# 6024 [기초-입출력] 단어 2개 입력받아 이어 붙이기(설명)(py)

# 알파벳 문자와 숫자로 이루어진 단어 2개를 입력받아
# 순서대로 붙여 출력하는 프로그램을 작성해보자.

# 예시
# w1, w2 = input().split()
# s = w1 + w2
# print(s)

# 참고
# 단어는 문자(character)들로 만든다.
# 문자들로 구성된 문장을 문자열(string)이라고 부른다.
# 문자열에는 공백문자(' ')가 포함될 수 있는데, 
# 문자 1개는 길이가 1인 문자열이라고 할 수 있고, 공백문자(' ')가 없는 문자열은 단어(word)라고 할 수 있다.

# 일반적인 문장들은 공백으로 구분된 단어들로 만들어지기 때문에,
# 공백문자로 구분된 문장에서 단어를 잘라내기 위해서는 공백문자(' ')를 기준으로 자르면 된다.
# 키보드로 입력되는 것들은 기본적으로 문자열로 인식되고, 문자열끼리 더하기(+)를 실행하면,
# 두 문자열을 합쳐 연결한(concatenate) 결과를 만들어 낸다.

# 입력
# 알파벳과 숫자로 이루어진 2개의 단어가 공백으로 구분되어 입력된다.

# 출력
# 입력된 2개의 단어를 순서대로 붙여 출력한다.

# 입력 예시   
# hello world

# 출력 예시
# helloworld

In [74]:
w1, w2 = input().split()
s = w1 + w2
print(s)

hello world
helloworld

In [75]:
# 정수 2개를 입력받아
# 합을 출력하는 프로그램을 작성해보자.

# 예시
# a, b = input().split()
# c = int(a) + int(b)
# print(c)

# 참고
# 입력되는 값은 기본적으로 문자열로 인식된다.

# 문자열 + 문자열은 두 문자열을 합친 문자열을 만든다.
# 숫자로 구성된 문자열이나 실수를 정수(integer) 값으로 바꾸기 위해서는 int( ) 를 사용할 수 있다.
# 수 + 수의 결과는 합(addition)이 계산된다.

In [79]:
a, b= input().split()
c = int(a) + int(b)
print(c)

123 -123
0

In [80]:
# 실수 2개를 입력받아
# 합을 출력하는 프로그램을 작성해보자.

# 참고
# 입력되는 값은 기본적으로 문자열로 인식된다.

# 숫자로 구성된 문자열이나 정수를 실수(real number) 값으로 바꾸기 위해서는 float( ) 를 사용할 수 있다.
# 소숫점(.)은 그 위치가 정해져있지 않고 이리저리 둥둥 떠다니므로, floating point라고 부른다.

In [87]:
a = input()
b = input()
c = float(a) + float(b)
print(c)

0.1
0.9
1.0

In [90]:
a = input()
n = int(a)            #입력된 a를 10진수 값으로 변환해 변수 n에 저장
print('%x'% n)  #n에 저장되어있는 값을 16진수(hexadecimal) 소문자 형태 문자열로 출력

255
ff

In [91]:
print(10/3)
print(10//3)
print(10%3)

3.3333333333333335
3
1

In [104]:
# 6077

n = int(input())
list = []
for i in range(1, n+1):
    if i %2 == 0:
        list.append(i)

print(sum(list))


n = int(input())
s = 0
for i in range(1, n+1):
    if i%2 == 0:
        s = s + i

print(s)

5
6

In [105]:
# 6080

# 나올 수 있는 주사위의 숫자를 한 세트씩 줄을 바꿔 모두 출력한다.
# 첫 번째 수는 n, 두 번째 수는 m으로 고정해 1부터 오름차순 순서로 출력하도록 한다.


# 입력 예시   
# 2 3

# 출력 예시
# 1 1
# 1 2
# 1 3
# 2 1
# 2 2
# 2 3

In [113]:
n,m = input().split()
n = int(n)
m = int(m)

for n in range(1,n+1):
    for m in range(1,m+1):
        print(n,m)

2 3
1 1
1 2
1 3
2 1
2 2
2 3

In [115]:
# 6082
# ** 3 6 9 게임은?
# 여러 사람이 순서를 정한 후, 순서대로 수를 부르는 게임이다.
# 만약 3, 6, 9 가 들어간 수를 자신이 불러야 하는 상황이라면, 수를 부르는 대신 "박수(X)" 를 쳐야 한다.
# 33과 같이 3,6,9가 두 번 들어간 수 일때, "짝짝"과 같이 박수를 두 번 치는 형태도 있다.

# 입력 예시   
# 9

# 출력 예시
# 1 2 X 4 5 X 7 8 X

In [123]:
n = int(input())

for i in range(1,n+1):
    if i % 10 in [3,6,9]:
        print('X')
    else:
        print(i)

10
1
2
X
4
5
X
7
8
X
10

In [126]:
# 6086 : [기초-종합] 거기까지! 이제 그만~(설명)(py)

# 1, 2, 3 ... 을 순서대로 계속 더해 합을 만드는데,
# 그 합이 입력한 정수보다 작을 동안만 계속 더하는 프로그램을 작성해보자.

# 즉, 1부터 n까지 정수를 하나씩 더해 합을 만드는데,
# 어디까지 더해야 입력한 수보다 같거나 커지는지 알아보고자 하는 문제이다.

# 하지만, 이번에는 그 때 까지의 합을 출력해야 한다.

# 예를 들어, 57을 입력하면
# 1+2+3+...+8+9+10=55에서 그 다음 수인 11을 더해 66이 될 때,
# 그 값 66이 출력되어야 한다.

In [147]:
n = int(input())
s = 0
for c in range(1,n+1):
    s = s + c

print(s)

10
55

In [167]:
n = int(input())
sum = 0
i = 0

while True:
    sum += i
    i += 1
    if sum >= n:
        break
    
print(sum)

10
10

In [168]:
# 6087 [기초-종합] 3의 배수는 통과(설명)(py)

n = int(input())

for i in range(1, n+1) :
  if i%3==0 :
    continue            #다음 반복 단계로 넘어간다.
  print(i, end=' ')    #i가 짝수가 아닐 때만 실행된다.

10
1 2 4 5 7 8 10

In [173]:
# 6088 : [기초-종합] 수 나열하기1(py)

# 예를 들어
# 1 4 7 10 13 16 19 22 25 ... 은
# 1부터 시작해 이전에 만든 수에 3을 더해 다음 수를 만든 수열이다.
# 이러한 것을 수학에서는 앞뒤 수들의 차이가 같다고 하여

# 등차(차이가 같다의 한문 말) 수열이라고 한다. (등차수열 : arithmetic progression/sequence)
# 수열을 알게 된 영일이는 갑자기 궁금해졌다.
# 시작 값(a), 등차(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때
# n번째 수를 출력하는 프로그램을 만들어보자.


# 입력 예시   
# 1 3 5

# 출력 예시
# 13

In [186]:
a,d,n = input().split()

a = int(a)
d = int(d)
n = int(n)

for i in range(1,n):
    sum = a + (d*(n-1))
    
print(sum)

1 3 5
13

In [214]:
# 6089 : [기초-종합] 수 나열하기2(py)

# 2 6 18 54 162 486 1458... 은
# 2부터 시작해 이전에 만든 수에 3을 곱해 다음 수를 만든 수열이다.

# 이러한 것을 수학에서는 앞뒤 수들의 비율이 같다고 하여
# 등비(비율이 같다의 한문 말) 수열이라고 한다. (등비수열 : geometric progression/sequence)

# 등비 수열을 알게된 영일이는 갑자기 궁금해졌다.
# "그럼.... 13번째 나오는 수는 뭘까?"
# 영일이는 프로그램을 만들어 더 큰 수도 자동으로 계산하고 싶어졌다.

# 시작 값(a), 등비(r), 몇 번째인지를 나타내는 정수(n)가 입력될 때
# n번째 수를 출력하는 프로그램을 만들어보자.

# 입력 예시   
# 2 3 7

# 출력 예시
# 1458

a,r,n = map(int,input().split())

print(a*r**(n-1))

2 3 1
2

In [216]:
# 6090 : [기초-종합] 수 나열하기3(py)

# 어떤 규칙에 따라 수를 순서대로 나열한 것을 수열(sequences)이라고 한다.

# 예를 들어
# 1 -1 3 -5 11 -21 43 ... 은
# 1부터 시작해 이전에 만든 수에 -2를 곱한 다음 1을 더해 다음 수를 만든 수열이다.

# 이런 이상한 수열을 알게 된 영일이는 또 궁금해졌다.
# "그럼.... 13번째 나오는 수는 뭘까?"

# 영일이는 물론 수학을 아주 잘하지만 이런 문제는 본 적이 거의 없었다...
# 그래서 프로그램을 만들어 더 큰 수도 자동으로 계산하고 싶어졌다.

# 시작 값(a), 곱할 값(m), 더할 값(d), 몇 번째인지를 나타내는 정수(n)가 입력될 때,
# n번째 수를 출력하는 프로그램을 만들어보자.


# 입력 예시   
# 1 -2 1 8

# 출력 예시
# -85

In [231]:
a,m,d,n = map(int,input().split())

for i in range(n-1):
    a = a*m+d
print(a)

1 -2 1 1
1